name: format

on:
  - push
  - pull_request

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: "3.8"
      - uses: snok/install-poetry@v1
      - name: Install dependencies
        run: poetry install
      - run: poetry run black --check .
